<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>Learnora – Class 9th NCERT Solutions</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
<header class="site-header">
  <div class="logo-section">
    <span class="brand-name">Learnora</span>
  </div>
  <nav class="nav-links">
    <a href="/">Subjects</a>
    <a href="/about">About Us</a>
  </nav>
</header>

<div class="main main-home">



  <ul>
    <li><a href="/maths">Maths</a></li>
    <li><a href="/science">Science</a></li>

  
    <li>
      <a style = "cursor: pointer;" onclick="toggleDropdown()">Social Science</a>
      <ul id="socialDropdown" style="display: none; padding-left: 1rem;">
         <li><a href="/history">History</a></li>
        <li><a href="/civics">Civics</a></li>
       
        <li><a href="/geo">Geography</a></li>
      </ul>
    </li>
  </ul>



</div>
  <footer>
    <p>© <%= new Date().getFullYear() %> Learnora. All rights reserved.</p>
  </footer>
  <script>
  function toggleDropdown() {
    const dropdown = document.getElementById('socialDropdown');
    dropdown.style.display = dropdown.style.display === 'none' ? 'block' : 'none';
  }
</script>

</body>
</html>
